.features{
    max-width: 1540px;
    height: 870px;
    background-color: #281ae4;
padding-left: 170px;
padding-right: 50px;
padding-top: 116px;
padding-bottom: 155px;
    margin-top: -210px;
    color: white;
    h5{
        text-transform: uppercase;
    }

h2{
    font-family: Poppins;
font-size: 46px;
font-weight: 700;
line-height: 53px;
text-align: left;
width: 501px;
margin-left: 0;
margin-top: 12px;
}

  
p{
    width: 478px;
    font-family: Lato;
font-size: 18px;
font-weight: 400;
margin-top: 30px;
margin-left: 0;
line-height: 29px;
text-align: left;

}
}



.flx{

    margin-top: 40px;
    img{
        margin-left: 0px;
    };
display: flex;
align-items: center;
gap: 19px;


    span{
        font-family: Poppins;
font-size: 20px;
font-weight: 700;
margin-left: -260px;
line-height: 45px;
text-align: left;

    }
}


.flx1{

    img{
        margin-left: 0px;
    };
display: flex;
align-items: center;
gap: px;


    span{
        font-family: Poppins;
font-size: 20px;
font-weight: 700;
margin-left: -300px;
line-height: 45px;
text-align: left;

    }
}


.flx2{

    img{
        margin-left: 0px;
    };
display: flex;
align-items: center;
gap: 19px;


    span{
        font-family: Poppins;
font-size: 20px;
font-weight: 700;
margin-left: -160px;
line-height: 45px;
text-align: left;

    }
}.flx3{

    img{
        margin-left: 0px;
    };
display: flex;
align-items: center;
gap: 19px;


    span{
        font-family: Poppins;
font-size: 20px;
font-weight: 700;
margin-left: -40px;
line-height: 45px;
text-align: left;

    }
}
.flx4{

    img{
        margin-left: 0px;
    };
display: flex;
align-items: center;
gap: 19px;


    span{
        font-family: Poppins;
font-size: 20px;
font-weight: 700;
margin-left: -90px;
line-height: 45px;
text-align: left;

    }
}
.flx5{

    img{
        margin-left: 0px;
    };
display: flex;
align-items: center;
gap: 19px;


    span{
        font-family: Poppins;
font-size: 20px;
font-weight: 700;
margin-left: -50px;
line-height: 45px;
text-align: left;

    }
}

.flx6{

    img{
        margin-left: 0px;
    };
display: flex;
align-items: center;
gap: 19px;


    span{
        font-family: Poppins;
font-size: 20px;
font-weight: 700;
margin-left: -170px;
line-height: 45px;
text-align: left;

    }
}

.flx7{

    img{
        margin-left: 0px;
    };
display: flex;

align-items: center;
gap: 19px;


    span{
        font-family: Poppins;
font-size: 20px;
font-weight: 700;
margin-left: -210px;
line-height: 45px;
text-align: left;



    }
}

.dd{
    display: flex;
    align-items: center;
    gap: 100px;
}
.image{
    padding-top: 100px;
    width: 751px;
    height: 583px;
}