.mission{
max-width: 1440px;
display: flex;
    height: 732px;
    gap: 10px;
    
}



.quti{
    width: 475px;
height: 464px;
position: relative;
margin-left: 0;

        
.bloc1{
    right:-50px;
     width: 121px;
 height: 148px;
 background: #3646D9;
 box-shadow: 0px 4px 31px 3px #3646D963;
 position: absolute;

 border-radius: 25px;
 z-index: 100;
 margin-top: -400px;

 
 h3{
     width: 80px;
     font-family: Oswald;
 font-size: 34px;
 font-weight: 700;
 line-height: 38px;
 text-align: center;
 padding-top: 19px;
 text-transform: uppercase;
 color: #ffffff;
 
 }
 p{
     font-family: Oswald;
 font-size: 17px;
 font-weight: 700;
 line-height: 46px;
 text-align: left;
 width: 113px;
 text-transform: uppercase;
 margin-left: 24px;
 color: #ffffff;
 
 
 }
 
}

}


.wood{

    display: flex;

    margin-left: 700px;

    p{
        margin-top: 28px;
        font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #363739;
width: 561px;
margin-left: 24px;
    }
}
.wood1{

    display: flex;
margin-top: 24px;
    margin-left: 700px;

    p{
        font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #363739;
width: 561px;
margin: left 24px;
    }
}
.wood2{
    margin-top: 24px;

    display: flex;

    margin-left: 700px;

    p{
        font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #363739;
width: 561px;
margin-left: 24px;
    }
}
.wood3{

    margin-top: 24px;
    display: flex;

    margin-left: 700px;

    p{
        font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #363739;
width: 561px;
margin-left: 24px;
    }
}


.qutii{

    margin-left: -500px;
}


.mis{
    margin-top: 130px;
    margin-left: 720px;
    h5{
        text-transform: uppercase;
        font-family: Poppins;
font-size: 19px;
font-weight: 700;
line-height: 23px;
text-align: left;
color: #3EA83B;

    }
    h2{
        margin-top: 28px;
        font-family: Poppins;
font-size: 46px;
font-weight: 700;
line-height: 23px;
text-align: left;
color: #363739;

    }
}